.DS_Store
/target
/data
/docs
/dist
/node_modules
data_cached
data_generated
/coverage
autoeq_*.html
autoeq_*.png
/*.csv
/*.html
*~
.*~
*#
.#*
src/unused.rs
.idea
.qwen
TAGS
ETAGS
CTAGS

# Logs
logs
*.log

# Editor directories and files
/.vs
.vscode/*
!.vscode/*.json
/.idea
/.fleet
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
